.delete-button,button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}
.youtube{
    color: red;
}
h1{
 text-align: center;
}
.formularioInicial {
   margin-left: 25%;
}
body{
    background-color: lightgray;
}